.picture-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
  }
  
  .selected-picture {
    transform: scale(1.15);
    box-shadow: 0 0 12px 4px rgba(255, 215, 0, 0.8); /* 노란빛 glow 효과 */
    z-index: 2;
  }